@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --breakpoint-home-desk: 768px;
  --spacing-navSpace: 96px;
  --color-mainTheme: #ff0066;
  --color-secondaryTheme: #0080ff;
  --color-thirdTheme: #ffcc00;
}
